<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="filial">
      <h2 data-cy="filialDetailsHeading"><span jhiTranslate="appConsigaMaisApp.filial.detail.title">Filial</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ filial.id }}</span>
        </dd>
        <dt><span jhiTranslate="appConsigaMaisApp.filial.nome">Nome</span></dt>
        <dd>
          <span>{{ filial.nome }}</span>
        </dd>
        <dt><span jhiTranslate="appConsigaMaisApp.filial.codigo">Codigo</span></dt>
        <dd>
          <span>{{ filial.codigo }}</span>
        </dd>
        <dt><span jhiTranslate="appConsigaMaisApp.filial.cnpj">Cnpj</span></dt>
        <dd>
          <span>{{ filial.cnpj }}</span>
        </dd>
        <dt><span jhiTranslate="appConsigaMaisApp.filial.empresa">Empresa</span></dt>
        <dd>
          <div *ngIf="filial.empresa">
            <a [routerLink]="['/empresa', filial.empresa?.id, 'view']">{{ filial.empresa?.nome }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="appConsigaMaisApp.filial.administradores">Administradores</span></dt>
        <dd>
          <span *ngFor="let administradores of filial.administradores; let last = last">
            <a [routerLink]="['/administrador', administradores?.id, 'view']">{{ administradores.nome }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/filial', filial.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
