<div>
  <h2 id="page-heading" data-cy="FilialHeading">
    <span jhiTranslate="appConsigaMaisApp.filial.home.title">Filials</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="appConsigaMaisApp.filial.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-filial"
        [routerLink]="['/filial/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="appConsigaMaisApp.filial.home.createLabel"> Create a new Filial </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="filials?.length === 0">
    <span jhiTranslate="appConsigaMaisApp.filial.home.notFound">No filials found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="filials && filials.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nome">
            <span jhiTranslate="appConsigaMaisApp.filial.nome">Nome</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="codigo">
            <span jhiTranslate="appConsigaMaisApp.filial.codigo">Codigo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="cnpj">
            <span jhiTranslate="appConsigaMaisApp.filial.cnpj">Cnpj</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="empresa.nome">
            <span jhiTranslate="appConsigaMaisApp.filial.empresa">Empresa</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let filial of filials; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/filial', filial.id, 'view']">{{ filial.id }}</a>
          </td>
          <td>{{ filial.nome }}</td>
          <td>{{ filial.codigo }}</td>
          <td>{{ filial.cnpj }}</td>
          <td>
            <div *ngIf="filial.empresa">
              <a [routerLink]="['/empresa', filial.empresa?.id, 'view']">{{ filial.empresa?.nome }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/filial', filial.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/filial', filial.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(filial)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="filials && filials.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
