<div>
  <h2 id="page-heading" data-cy="FaturaMensalHeading">
    <span jhiTranslate="appConsigaMaisApp.faturaMensal.home.title">Fatura Mensals</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="appConsigaMaisApp.faturaMensal.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-fatura-mensal"
        [routerLink]="['/fatura-mensal/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="appConsigaMaisApp.faturaMensal.home.createLabel"> Create a new Fatura Mensal </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="faturaMensals?.length === 0">
    <span jhiTranslate="appConsigaMaisApp.faturaMensal.home.notFound">No faturaMensals found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="faturaMensals && faturaMensals.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="mes">
            <span jhiTranslate="appConsigaMaisApp.faturaMensal.mes">Mes</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="criado">
            <span jhiTranslate="appConsigaMaisApp.faturaMensal.criado">Criado</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="boletoUrl">
            <span jhiTranslate="appConsigaMaisApp.faturaMensal.boletoUrl">Boleto Url</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dataPago">
            <span jhiTranslate="appConsigaMaisApp.faturaMensal.dataPago">Data Pago</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="empresa.nome">
            <span jhiTranslate="appConsigaMaisApp.faturaMensal.empresa">Empresa</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="filial.nome">
            <span jhiTranslate="appConsigaMaisApp.faturaMensal.filial">Filial</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let faturaMensal of faturaMensals; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/fatura-mensal', faturaMensal.id, 'view']">{{ faturaMensal.id }}</a>
          </td>
          <td>{{ faturaMensal.mes | formatMediumDate }}</td>
          <td>{{ faturaMensal.criado | formatMediumDatetime }}</td>
          <td>{{ faturaMensal.boletoUrl }}</td>
          <td>{{ faturaMensal.dataPago | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="faturaMensal.empresa">
              <a [routerLink]="['/empresa', faturaMensal.empresa?.id, 'view']">{{ faturaMensal.empresa?.nome }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="faturaMensal.filial">
              <a [routerLink]="['/filial', faturaMensal.filial?.id, 'view']">{{ faturaMensal.filial?.nome }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/fatura-mensal', faturaMensal.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/fatura-mensal', faturaMensal.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(faturaMensal)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="faturaMensals && faturaMensals.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
