<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="arquivoImportacao">
      <h2 data-cy="arquivoImportacaoDetailsHeading">
        <span jhiTranslate="appConsigaMaisApp.arquivoImportacao.detail.title">Arquivo Importacao</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ arquivoImportacao.id }}</span>
        </dd>
        <dt><span jhiTranslate="appConsigaMaisApp.arquivoImportacao.urlArquivo">Url Arquivo</span></dt>
        <dd>
          <span>{{ arquivoImportacao.urlArquivo }}</span>
        </dd>
        <dt><span jhiTranslate="appConsigaMaisApp.arquivoImportacao.urlCriticas">Url Criticas</span></dt>
        <dd>
          <span>{{ arquivoImportacao.urlCriticas }}</span>
        </dd>
        <dt><span jhiTranslate="appConsigaMaisApp.arquivoImportacao.criado">Criado</span></dt>
        <dd>
          <span>{{ arquivoImportacao.criado | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="appConsigaMaisApp.arquivoImportacao.estado">Estado</span></dt>
        <dd>
          <span jhiTranslate="{{ 'appConsigaMaisApp.StatusArquivo.' + arquivoImportacao.estado }}">{{ arquivoImportacao.estado }}</span>
        </dd>
        <dt><span jhiTranslate="appConsigaMaisApp.arquivoImportacao.processado">Processado</span></dt>
        <dd>
          <span>{{ arquivoImportacao.processado | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="appConsigaMaisApp.arquivoImportacao.criador">Criador</span></dt>
        <dd>
          <div *ngIf="arquivoImportacao.criador">
            <a [routerLink]="['/administrador', arquivoImportacao.criador?.id, 'view']">{{ arquivoImportacao.criador?.nome }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="appConsigaMaisApp.arquivoImportacao.empresa">Empresa</span></dt>
        <dd>
          <div *ngIf="arquivoImportacao.empresa">
            <a [routerLink]="['/empresa', arquivoImportacao.empresa?.id, 'view']">{{ arquivoImportacao.empresa?.nome }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="appConsigaMaisApp.arquivoImportacao.filial">Filial</span></dt>
        <dd>
          <div *ngIf="arquivoImportacao.filial">
            <a [routerLink]="['/filial', arquivoImportacao.filial?.id, 'view']">{{ arquivoImportacao.filial?.nome }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/arquivo-importacao', arquivoImportacao.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
